dataset/google_streetview/web/.env.js
dataset/google_streetview/web/init.js
dataset/google_streetview/web/build_graph.py

*/instructions.txt
*/*/instructions.txt
*/*/*/instructions.txt

*/*/test.py
*/*/test

*/*/demo_caps

*/*/*/config.py
*/*/*/vision_server_dummy.py
*/*/*/vision_server_ocr.py
